.num {
  font-size: 18px;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight:bold;
}
.unit {
  font-size: 20px;
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight:bold;
  margin-top: -3px;
  margin-left: -4px;
  transform: scale(0.4);
}
.container {
  color:#332821;
  display: flex;
  flex-direction: row;
}