@font-face {
  font-family: 'Alegreya Sans';
  src: url('./assets/AlegreyaSans-Bold-4.ttf');
}
.app {
  width: 375px;
  height: 100vh;
  background: linear-gradient(180deg, #E75481 -22.84%, #929CDE 113.36%);
  /* border-radius: 40px; */
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.app-logo {
  margin-top: 50px;
  margin-left: 16px;
  height: 60px;
  width: 60px;
  pointer-events: none;
}
