.minor-container {
    width: 175px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    /* margin-top: 590px; */
}
.minor-item {
    display: flex;
    height: 24px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.minor-item-icon {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-right: 10px;
}
.minor-item-text {
    font-size: 18px;
    color: white;
    width: 71px;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.minor-item-data {
    width: 70px;
    font-family: 'Alegreya Sans';
    font-style: normal;
    color: white;
    font-weight: 400;
    line-height: 24px;
    text-align: end;
}